.input-address {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.content-wrapper {
  max-width: 1000px;
  padding: 0 1rem;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  background: #f9f9f9;
}

h6 {
  font-size: 2.5em;
  color: darkgrey;
}

ul {
  margin: 0 auto;
  padding: 0;
}

li {
  list-style: none;
  margin: 25px 45px;
  width: 100%;
}

p {
  font-weight: 300;
  color: grey;
}

.mdl-card {
  padding: 1.5rem;
  position: relative;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.mdl-card-text {
  font-size: 1.25rem
  line-height: 1.4;
}

.left-content {
  width: 60%;
}

.rep-image {
  position: absolute;
  right: 40px;
  float: right;
  top: 40px;
}
.rep-title, .rep-affil {
  font-size: 2em;
}

.rep-name {
  font-size: 3em;
}


.rep-card {
  min-height: 400px;
}

.right-content, .left-content {
  display: inline-block;
}

.call-button {
  background: rgb(156,39,176);
  position: absolute;
  width: 100%;
  bottom: 0px;
  margin: -40px;
  margin-bottom: 0px;
  color: fff;
  text-align: center;
  font-size: 35px;
  padding: 10px;
  height: 15%;
}

.call-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
