/*purple = #7D287D */

/** Helper Classes */

.is-hidden {
  display: none !important;
}

.content-wrapper {
  max-width: 48rem;
  padding: 0 1rem;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

/** Base Styling */

body,
h1, h2, h3, h4,
p, ul, ol, li, span {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Helvetica Neue',
    sans-serif;
}

body {
  background: #eee;
}

h3 {
  font-size: 2rem;
  line-height: 1.4;
}

ul {
  margin: 0 auto;
  padding: 0;
}

li {
  list-style: none;
  margin: 25px 45px;
  width: 100%;
}

p {
  font-weight: 300;
  color: grey;
}

/** Header */

.mdl-layout__header {
  background-color: #7D287D;
}

.header-input-wrapper {
  margin-bottom: 1rem;
}

.input-address {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1.25rem;
}

.mdl-layout-title {
  font-size: 2rem;
}

/** Basic Components */

.mdl-card {
  padding: 1.5rem;
  position: relative;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.mdl-card-text {
  font-size: 1.25rem;
  line-height: 1.4;
}

/** Representative Data */

.rep-data-container > h3 {
  font-size: 1.5rem;
  text-align: center;
  color: #757575;
}

.rep-card-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.left-content {
  width: calc(100% - 225px);
}

.left-content p {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.4;
}

.rep-image {
  width: 225px;
  height: auto;
}

.call-button {
  position: relative;
  bottom: -1.5rem;
  left: -1.5rem;
  width: 102%;
  width: calc(100% + 1rem);
  padding: 1rem;
  background: #7D287D;
  color: #FFF;
  border-radius: 0;
  text-align: center;
  font-size: 2.5rem;
}

.call-button i {
  margin-right: 2rem;
  font-size: 1em;
  vertical-align: top;
}

@media (max-width: 600px) {
  body, html {
    font-size: 12px;
  }
  .rep-image {
    width: 100%;
  }

  .right-content {
    width: 33.3%;
  }

  .left-content {
    width: 66.6%;
  }
}
